.DurationSelector {
  display: flex;
  gap: 8px;
}

.DurationSelector__label {
  align-self: center;
  color: #B0B4BA;
  font-size: 12px;
  user-select: none;
}

.DurationSelector__input {
  width: 5ch;
  padding: 0 8px;
  border-radius: 5px;
  background: #2E3135;
  border: none;
  color: #B0B4BA;
}
